/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

/*
*  html5resetcss
*/

#wrapper {
    height: 150vh;
    display: flex;
    justify-content: center;
}

#grid-wrapper {
    max-width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "1"
        "2"
        "3";
}

#banner {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5e24e1898ee5021e015f86b4/1616468237947-EM80ZXKS2GSWJQJ7GEY6/IMGL2579-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-large;
    gap: 5px;

}

.bbox {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 15px;
    margin-bottom: 10px;
}

#activities {
    grid-area: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

#activities-banner {
    grid-area: 4;
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;

}

#activities-box-1 {
    grid-area: 5;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#activities-box-2 {
    grid-area: 6;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#activities-box-3 {
    grid-area: 7;
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#act-img {
    border-radius: 50px;
}

#guide {
    grid-area: 3;
    background-color: rgb(18, 155, 235);
}